<launch>

    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node"
        args="
        -configuration_directory $(find ridgeback_navigation)/params/carto_config
        -configuration_basename ridegback_carto.lua"
        output="screen">
        <remap from="scan" to="scan_full_filtered" />
    </node>

    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node" args="-resolution 0.02" />


    <!---
    Run Move Base -->
    <include file="$(find ridgeback_navigation)/launch/include/move_base.launch" />

    <!---
    Run Rviz -->
    <include file="$(find ridgeback_viz)/launch/view_robot.launch">
        <arg name="config" value="cartographer" />
    </include>
</launch>