<launch>
    <arg name="map_file" default="$(find ridgeback_navigation)/maps/carto_map.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!--pbstream的地址与名称 -->
    <arg name="load_state_filename"
        default="$(find ridgeback_navigation)/maps/carto_map.pbstream" />

    <!-- 重定位初始位姿-->
    <param name="localization" type="bool" value="true" />
    <rosparam command="load" file="$(find
    task_communication)/station_cfg/current_pose.yaml"></rosparam>

    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node"
        args="
        -configuration_directory $(find ridgeback_navigation)/params/carto_config
        -configuration_basename ridegback_carto_localization.lua
        -load_state_filename $(arg load_state_filename)"
        output="screen">
        <remap from="scan" to="scan_full_filtered" />
    </node>

    <!-- amcl_pose_tf -->
    <node name="lidar_odometry_rg_single_node" pkg="ridgeback_test"
        type="lidar_odometry_rg_single_node">
    </node>

    <!---
    Run Move Base -->
    <include file="$(find ridgeback_navigation)/launch/include/move_base.launch" />

    <!---
    Run Rviz -->
    <include file="$(find ridgeback_viz)/launch/view_robot.launch">
        <arg name="config" value="cartographer" />
    </include>
</launch>