<launch>

    <arg name="map_file" default="$(find hf_navigation)/saved_map/201_0930.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- pbstream的地址与名称 -->
    <arg name="load_state_filename"
        default="$(find hf_navigation)/saved_map/201_0930.pbstream" />

    <!-- 不使用bag的时间戳 -->
    <param name="/use_sim_time" value="false" />

    <!--  重定位初始位姿-->
    <param name="localization" type="bool" value="true" />
    <rosparam command="load" file="$(env HOME)/speed_develop/config/current_pose.yaml"></rosparam>

    <!-- 启动cartographer -->
    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node"
        args="
            -configuration_directory $(find hf_carto)/config
            -configuration_basename hf_carto_localization.lua
            -load_state_filename $(arg load_state_filename)"
        output="screen">
        <remap from="scan" to="/scan_full_filtered" />
        <remap from="odom" to="/odom" />
    </node>

    <!-- Run Move Base -->
    <include file="$(find hf_navigation)/launch/include/move_base.launch" />

    <!-- Run amcl_pose_tf publisher, publish fast amcl pose -->
    <node name="lidar_odometry_node" pkg="docking_tf" type="lidar_odometry" />

    <!-- 启动rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find hf_navigation)/launch/aichem_carto.rviz" />


</launch>
