<launch>
  <arg name="start_localization" default="true" />
  <arg name="start_debug_tools" default="false" />
  <arg name="start_rviz" default="false" />
  <arg name="map_file" default="$(find hf_navigation)/saved_map/201_0930.yaml" />
  <arg name="load_state_filename" default="$(find hf_navigation)/saved_map/201_0930.pbstream" />
  <arg name="global_config" default="$(find none_move_base_bringup)/config/global_planner.yaml" />
  <arg name="local_config" default="$(find none_move_base_bringup)/config/local_controller.yaml" />
  <arg name="local_planner_config" default="$(find none_move_base_bringup)/config/local_planner_mpcdcbf.yaml" />
  <arg name="navigator_config" default="$(find none_move_base_bringup)/config/navigator.yaml" />
  <arg name="reach_checker_config" default="$(find none_move_base_bringup)/config/reach_checker.yaml" />
  <arg name="behavior_config" default="$(find none_move_base_bringup)/config/behavior.yaml" />

  <group if="$(arg start_localization)">
    <include file="$(find none_move_base_bringup)/launch/include/localization_only.launch">
      <arg name="map_file" value="$(arg map_file)" />
      <arg name="load_state_filename" value="$(arg load_state_filename)" />
    </include>
  </group>

  <include file="$(find none_move_base_bringup)/launch/include/navigation_core_mpcdcbf.launch">
    <arg name="global_config" value="$(arg global_config)" />
    <arg name="local_config" value="$(arg local_config)" />
    <arg name="local_planner_config" value="$(arg local_planner_config)" />
    <arg name="navigator_config" value="$(arg navigator_config)" />
    <arg name="reach_checker_config" value="$(arg reach_checker_config)" />
    <arg name="behavior_config" value="$(arg behavior_config)" />
  </include>

  <group if="$(arg start_debug_tools)">
    <include file="$(find none_move_base_bringup)/launch/include/debug_tools.launch">
      <arg name="start_rviz" value="$(arg start_rviz)" />
    </include>
  </group>
</launch>
